@model SAConfig.Models.saconfig_tDataTypeTemplates

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>DataTypeTemplates Attributes</legend>

    @Html.Hidden("sclID", (long)ViewBag.SCLID)

    <div class="display-label">SCL</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_SCL.version)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        <a href="@Html.Raw((String)(ViewBag.BackURL))">Back to Upper Element</a>
    </p>
}
