@model SAConfig.Models.saconfig_tDataTypeTemplates

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>DataTypeTemplates Attributes</legend>

    <div class="display-label">SCL</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_SCL.version)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID, sclID = (long)ViewBag.SCLID, backURL = (string)(ViewBag.BackURL) }) |
    <a href="@Html.Raw((String)(ViewBag.BackURL))">Back to Upper Element</a>
</p>
