@model SAConfig.Models.saconfig_SettingGroups

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

@using (Html.BeginForm()) {
<fieldset>
    <legend>SettingGroups Attributes</legend>

    @Html.Hidden("servicesID", (long)ViewBag.ServicesID)
    @Html.Hidden("backURL", (string)ViewBag.BackURL)

    <div class="display-label">Services</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tServices.ID)
    </div>

</fieldset>

<p>
    <input type="submit" value="Delete" /> |
    <a href="@Html.Raw((String)(ViewBag.BackURL))">Back to Upper Element</a>
</p>
}
