@model SAConfig.Models.saconfig_tConfLNs

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ConfLNs Attributes</legend>

    <div class="display-label">fixPrefix</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fixPrefix)
    </div>

    <div class="display-label">fixLnInst</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fixLnInst)
    </div>

    <div class="display-label">Services</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tServices.ID)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
