@model SAConfig.Models.saconfig_tAccessControl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>AccessControl Attributes</legend>

    <div class="display-label">LDevice</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tLDevice.desc)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
